.addButton {
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
}

.registrationsTable {
    width: 90%;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
}