/*Dirty hack for reversing the margin: 0.5rem property that is given to the <body> tag in index.css*/

.topMenuBar {
    margin-top: -0.5rem;
    margin-right: -0.5rem;
    margin-bottom: 0.5rem;
    margin-left: -0.5rem;
}