h2 {
  font-size: 1.75rem !important;
}

h3 {
   font-size: 1.5rem !important;
 }

h4 {
  font-size: 1.25rem !important;
}

h5 {
  font-size: 1.1rem !important;
}

h6 {
  font-size: 1rem !important;
}

body {
  padding: 0.5rem;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
